@media (max-width:993px) {

    .getstarted-button {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: right;
    }

}

@media (max-width:768px) {
    #contact_button {
        margin-top: 4px;

    }

    .main-main_video {
        margin-top: -200px;
    }

    .about_img {
        min-width: 70%;
    }


    #c-img {
        min-width: 80%;
        min-height: 10%;

    }

}

.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #b5223e;
}



.community-container {
    margin-top: 56px;
}

.community-title {
    border-bottom: 2px solid #b5223e;
}

.community-title>p {
    font-family: NotoSans;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -2px;
    color: #2a0101;

}

.community-question-title-layout {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccd8e6;
    padding: 18px 18px 3px 18px;
}

.community-question-title>p {
    font-family: NotoSans;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #2a0101;

}

.community-question-title-info {
    display: flex;
    justify-content: space-between;
}

.community-question-title-info>p {
    font-family: AppleSDGothicNeo;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #9495a8;
}



.community-question-content {
    border-bottom: solid 1px #ccd8e6;
    padding: 19.5px 10px 30px 18px;
}

.community-question-content>p {
    font-family: NotoSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #2a0101;
}

.community-question-tag-layout .btn {
    font-family: NotoSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1px;
    text-align: center;
    color: #fff;
    border-radius: 21px;
    background-color: #9495a8;
}



.community-question-attachment {
    border-bottom: solid 1px #ccd8e6;
    padding-left: 18px;
    padding-top: 16px;
    padding-bottom: 24px;
    margin-bottom: 30.5px;
}

.community-question-attachment>p {
    font-family: NotoSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #2a0101;
}

.community-question-attachment>span {
    font-family: NotoSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.18px;
    color: #2a0101;
}


.community-question-post-sum {
    border-bottom: solid 1px #ccd8e6;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}



.community-question-post {
    border-top: 2px solid #b5223e;
    border-bottom: ;
    background-color: #f7f7f8;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.community-question-post-sum-number {
    font-family: NotoSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #b5223e;
}

.community-question-post-sum-text {
    font-family: NotoSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #2a0101;
}

.community-question-post-form {
    padding: 17px 20px 30px 20px;
}

.community-question-post-form-button .btn {
    display: block;
    float: right;
    margin-top: -2px;
    margin-bottom: 0px;
    border-radius: 25px;
    background-color: #b5223e;
    font-family: NotoSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.38px;
    text-align: center;
    color: #fff;
}

.community-question-comments {
    margin-bottom: 24px;
}

.community-question-comment {
    border-bottom: solid 1.2px #ccd8e6;
    padding-left: 19px;
    padding-top: 19px;
    padding-bottom: 24px;
}

#author {
    font-family: NotoSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #31363b;
}

#uploaded-time {
    font-family: NotoSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #636e77;
}

.community-question-comment-content {
    font-family: NotoSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #31363b;
}

.footer_section {
    border-top: solid 1px #dae2ef;
    margin-top: 175px;

}

.footer_img {
    width: 200px;
}