.sign-background-color{
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-position{
  margin: auto;

}


.form-bg {
  width: 100%;
  padding: 70px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: rgb(211, 211, 211);
 
}

.form-top{
  margin-bottom: 25px;
}

.form-logo{
  width: 150px; height: 40px; text-align: center;
}

.form-title{
  margin-top: 20px;
  font-size: 24px;
}

.form-text{
  margin-top: -10px;
}

input::placeholder{
font-size: 14px;
 }

.google_icon_button{
  width:25px; height:25px; margin-right: 10px;
}

.signup-privacy{
  text-align: center; margin-top: 14px; font-size: 13px;
}

.return{
  margin-top: 20px;
  text-align: center;
}

.no-line{
  text-decoration-line: none;
}

#bottom_button{
  height: 40px;
  background:#b5223e;
  border:0; outline:0;
  font-weight: 500;
  color:white;
}